<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VietMapURL</key>
	<string>https://run.mocky.io/v3/2cdf49bc-40fe-4aa5-a992-1954c8fb298f</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>vi</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>MGLMapboxAPIBaseURL</key>
	<string>https://maps.vnpost.vn/navigation_dev/route/</string>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1Ijoic2VubmQiLCJhIjoiY2tkcmdzbDB4MDhzcDJ6bzdoOXNwazduMSJ9.in-0A1ZX6yzIMtnJcLdcRw</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Get user location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Get user location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Get user location</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationAccuracyAuthorizationDescription</key>
		<string>Please enable precise location. Turn-by-turn directions only work when precise location data is available.</string>
	</dict>
</dict>
</plist>
